body {
    font-family: Arial, sans-serif;
    background-color: #ecf0f1;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-form {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.register-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #446587;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #33485c
}

.error-message,
.success-message {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: center;
}


.error-message {
    border: 1px solid #e74c3c;
    background-color: #fdecea;
    color: #c0392b;
}

.success-message {
    border: 1px solid #087a39;;
    background-color: #e8fff2;
    color:  #2ecc71;
}
.login-link {
    text-align: center;
    margin-top: 15px;
}

.login-link a {
    color: #2980b9;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}
